[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/calligraphy"]
	path = themes/calligraphy
	url = https://github.com/pacollins/calligraphy.git
